<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name='ocr-system' content='tesseract 3.02.02' />
  <meta name='ocr-capabilities' content='ocr_page ocr_carea ocr_par ocr_line ocrx_word'/>
 </head>
 <body>
  <div class='ocr_page' id='page_1' title='image "static/current.png"; bbox 0 0 990 2030; ppageno 0'>
   <div class='ocr_carea' id='block_1_1' title="bbox 78 58 990 1403">
    <p class='ocr_par' dir='ltr' id='par_1' title="bbox 79 59 990 1402">
     <span class='ocr_line' id='line_1' title="bbox 79 59 983 192"><span class='ocrx_word' id='word_1' title="bbox 79 59 508 192">Adobe,</span> <span class='ocrx_word' id='word_2' title="bbox 558 59 749 172">the</span> <span class='ocrx_word' id='word_3' title="bbox 799 59 983 172">Ad</span> 
     </span>
     <span class='ocr_line' id='line_2' title="bbox 82 229 990 372"><span class='ocrx_word' id='word_4' title="bbox 82 229 691 372">Intelligent</span> <span class='ocrx_word' id='word_5' title="bbox 750 238 990 342">Doc</span> 
     </span>
     <span class='ocr_line' id='line_3' title="bbox 80 399 990 542"><span class='ocrx_word' id='word_6' title="bbox 80 399 598 532">Distiller,</span> <span class='ocrx_word' id='word_7' title="bbox 697 408 990 542">ePap</span> 
     </span>
     <span class='ocr_line' id='line_4' title="bbox 80 569 990 712"><span class='ocrx_word' id='word_8' title="bbox 80 569 738 712">Photoshop,</span> <span class='ocrx_word' id='word_9' title="bbox 780 578 990 682">Poe</span> 
     </span>
     <span class='ocr_line' id='line_5' title="bbox 87 758 990 892"><span class='ocrx_word' id='word_10' title="bbox 87 758 569 892">Systems</span> <span class='ocrx_word' id='word_11' title="bbox 632 758 990 892">Incor;</span> 
     </span>
     <span class='ocr_line' id='line_6' title="bbox 87 919 990 1062"><span class='ocrx_word' id='word_12' title="bbox 87 919 411 1032">either</span> <span class='ocrx_word' id='word_13' title="bbox 458 958 579 1032">re</span> <span class='ocrx_word' id='word_14' title="bbox 592 920 990 1062">gistere</span> 
     </span>
     <span class='ocr_line' id='line_7' title="bbox 86 1089 990 1202"><span class='ocrx_word' id='word_15' title="bbox 86 1089 381 1202">other</span> <span class='ocrx_word' id='word_16' title="bbox 487 1090 990 1202">countrie:</span> 
     </span>
     <span class='ocr_line' id='line_8' title="bbox 85 1268 971 1402"><span class='ocrx_word' id='word_17' title="bbox 85 1268 708 1402">Computer,</span> <span class='ocrx_word' id='word_18' title="bbox 752 1268 971 1372">Inc.</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_2_2' title="bbox 80 1438 990 1923">
    <p class='ocr_par' dir='ltr' id='par_2' title="bbox 80 1438 990 1922">
     <span class='ocr_line' id='line_9' title="bbox 86 1438 990 1582"><span class='ocrx_word' id='word_19' title="bbox 86 1438 220 1552">of</span> <span class='ocrx_word' id='word_20' title="bbox 272 1448 551 1552">IBM</span> <span class='ocrx_word' id='word_21' title="bbox 625 1448 990 1582">Corpo:</span> 
     </span>
     <span class='ocr_line' id='line_10' title="bbox 80 1610 948 1752"><span class='ocrx_word' id='word_22' title="bbox 80 1610 948 1752">Micros}-‘stems,</span> 
     </span>
     <span class='ocr_line' id='line_11' title="bbox 83 1779 990 1922"><span class='ocrx_word' id='word_23' title="bbox 83 1779 309 1892">The</span> <span class='ocrx_word' id='word_24' title="bbox 356 1788 673 1922">Open</span> <span class='ocrx_word' id='word_25' title="bbox 714 1788 990 1892">Grot</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_3_3' title="bbox 78 1948 944 2030">
    <p class='ocr_par' dir='ltr' id='par_3' title="bbox 78 1949 944 2030">
     <span class='ocr_line' id='line_12' title="bbox 78 1949 944 2030"><span class='ocrx_word' id='word_26' title="bbox 78 1949 654 2030">rpnicfprpri</span> <span class='ocrx_word' id='word_27' title="bbox 738 1949 944 2030">anti</span> 
     </span>
    </p>
   </div>
  </div>
 </body>
</html>
