<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name='ocr-system' content='tesseract 3.02.02' />
  <meta name='ocr-capabilities' content='ocr_page ocr_carea ocr_par ocr_line ocrx_word'/>
 </head>
 <body>
  <div class='ocr_page' id='page_1' title='image "static/current.png"; bbox 0 0 3200 6000; ppageno 0'>
   <div class='ocr_carea' id='block_1_1' title="bbox 58 47 3200 173">
    <p class='ocr_par' dir='ltr' id='par_1' title="bbox 58 47 3200 173">
     <span class='ocr_line' id='line_1' title="bbox 58 47 3200 173"><span class='ocrx_word' id='word_1' title="bbox 58 47 242 163">file</span> <span class='ocrx_word' id='word_2' title="bbox 358 47 560 163">§dit</span> <span class='ocrx_word' id='word_3' title="bbox 678 47 932 163">Miew</span> <span class='ocrx_word' id='word_4' title="bbox 1057 47 1433 173">Higtory</span> <span class='ocrx_word' id='word_5' title="bbox 1547 47 2141 163">_B_ookmarks</span> <span class='ocrx_word' id='word_6' title="bbox 2257 47 2551 163">Iools</span> <span class='ocrx_word' id='word_7' title="bbox 2667 47 2919 172">ﬂelp</span> <span class='ocrx_word' id='word_8' title="bbox 2984 56 3200 149">I</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_2_2' title="bbox 0 233 3200 846">
    <p class='ocr_par' dir='ltr' id='par_2' title="bbox 0 233 3200 846">
     <span class='ocr_line' id='line_2' title="bbox 0 233 3200 846"><span class='ocrx_word' id='word_9' title="bbox 0 233 3200 846"> </span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_3_3' title="bbox 52 963 1819 1132">
    <p class='ocr_par' dir='ltr' id='par_3' title="bbox 52 963 1819 1132">
     <span class='ocr_line' id='line_3' title="bbox 52 963 1819 1132"><span class='ocrx_word' id='word_10' title="bbox 52 1090 57 1098"><em>.</em></span> <span class='ocrx_word' id='word_11' title="bbox 131 963 271 1118">(-</span> <span class='ocrx_word' id='word_12' title="bbox 323 1091 347 1132">r</span> <span class='ocrx_word' id='word_13' title="bbox 403 974 538 1108">62</span> <span class='ocrx_word' id='word_14' title="bbox 589 998 1819 1098">54.193.92.44:5000,/index</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_4_4' title="bbox 73 1128 3200 1200">
    <p class='ocr_par' dir='ltr' id='par_4' title="bbox 73 1128 3200 1200">
     <span class='ocr_line' id='line_4' title="bbox 73 1128 3200 1200"><span class='ocrx_word' id='word_15' title="bbox 73 1128 3200 1200"> </span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_5_5' title="bbox 40 1317 3200 1443">
    <p class='ocr_par' dir='ltr' id='par_5' title="bbox 40 1317 3200 1443">
     <span class='ocr_line' id='line_5' title="bbox 40 1317 3200 1443"><span class='ocrx_word' id='word_16' title="bbox 40 1330 180 1443">L11</span> <span class='ocrx_word' id='word_17' title="bbox 237 1317 479 1433">¥ﬁﬁ</span> <span class='ocrx_word' id='word_18' title="bbox 550 1330 690 1443">L11</span> <span class='ocrx_word' id='word_19' title="bbox 757 1327 1281 1423">Entertmnt</span> <span class='ocrx_word' id='word_20' title="bbox 1350 1330 1490 1443">L0</span> <span class='ocrx_word' id='word_21' title="bbox 1556 1327 1692 1423">CS</span> <span class='ocrx_word' id='word_22' title="bbox 1760 1330 1900 1443">L0</span> <span class='ocrx_word' id='word_23' title="bbox 1958 1327 2551 1423">Investment</span> <span class='ocrx_word' id='word_24' title="bbox 2620 1330 2760 1443">L0</span> <span class='ocrx_word' id='word_25' title="bbox 2818 1317 3052 1433">IE.</span> <span class='ocrx_word' id='word_26' title="bbox 3130 1331 3200 1443">L</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_6_6' title="bbox 0 1494 3200 1810">
    <p class='ocr_par' dir='ltr' id='par_6' title="bbox 0 1494 3200 1810">
     <span class='ocr_line' id='line_6' title="bbox 0 1494 3200 1810"><span class='ocrx_word' id='word_27' title="bbox 0 1494 3200 1810"> </span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_7_7' title="bbox 79 1978 3200 2192">
    <p class='ocr_par' dir='ltr' id='par_7' title="bbox 79 1978 3200 2192">
     <span class='ocr_line' id='line_7' title="bbox 79 1978 3200 2192"><span class='ocrx_word' id='word_28' title="bbox 79 1978 847 2192"><strong>What</strong></span> <span class='ocrx_word' id='word_29' title="bbox 929 1978 1131 2192">is</span> <span class='ocrx_word' id='word_30' title="bbox 1222 1978 1640 2192">the</span> <span class='ocrx_word' id='word_31' title="bbox 1723 1978 2266 2192">Web</span> <span class='ocrx_word' id='word_32' title="bbox 2359 1978 3200 2192">locatic</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_8_8' title="bbox 79 2528 2529 2672">
    <p class='ocr_par' dir='ltr' id='par_8' title="bbox 79 2528 2529 2672">
     <span class='ocr_line' id='line_8' title="bbox 79 2528 2529 2672"><span class='ocrx_word' id='word_33' title="bbox 79 2528 489 2642">Please</span> <span class='ocrx_word' id='word_34' title="bbox 532 2550 851 2642">enter</span> <span class='ocrx_word' id='word_35' title="bbox 887 2568 1184 2672">your</span> <span class='ocrx_word' id='word_36' title="bbox 1221 2528 1664 2672">picture</span> <span class='ocrx_word' id='word_37' title="bbox 1707 2528 1972 2642">web</span> <span class='ocrx_word' id='word_38' title="bbox 2018 2528 2529 2642">address:</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_9_9' title="bbox 205 3168 687 3274">
    <p class='ocr_par' dir='ltr' id='par_9' title="bbox 205 3168 687 3274">
     <span class='ocr_line' id='line_9' title="bbox 205 3168 687 3274"><span class='ocrx_word' id='word_39' title="bbox 205 3168 687 3274">&quot;Extract&quot;</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_10_10' title="bbox 85 3548 1830 3692">
    <p class='ocr_par' dir='ltr' id='par_10' title="bbox 85 3548 1830 3692">
     <span class='ocr_line' id='line_10' title="bbox 85 3548 1830 3692"><span class='ocrx_word' id='word_40' title="bbox 85 3548 251 3662">Or</span> <span class='ocrx_word' id='word_41' title="bbox 295 3548 727 3662">submit</span> <span class='ocrx_word' id='word_42' title="bbox 763 3588 1061 3692">your</span> <span class='ocrx_word' id='word_43' title="bbox 1098 3548 1542 3692">picture</span> <span class='ocrx_word' id='word_44' title="bbox 1587 3548 1830 3662">file:</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_11_11' title="bbox 89 4119 1835 4351">
    <p class='ocr_par' dir='ltr' id='par_11' title="bbox 89 4119 1835 4351">
     <span class='ocr_line' id='line_11' title="bbox 89 4119 1835 4351"><span class='ocrx_word' id='word_45' title="bbox 908 4198 1074 4292">No</span> <span class='ocrx_word' id='word_46' title="bbox 1118 4188 1285 4292">file</span> <span class='ocrx_word' id='word_47' title="bbox 1337 4189 1835 4292">selected.</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_12_12' title="bbox 205 4598 687 4704">
    <p class='ocr_par' dir='ltr' id='par_12' title="bbox 205 4598 687 4704">
     <span class='ocr_line' id='line_12' title="bbox 205 4598 687 4704"><span class='ocrx_word' id='word_48' title="bbox 205 4598 687 4704">&quot;Extract&quot;</span> 
     </span>
    </p>
   </div>
   <div class='ocr_carea' id='block_13_13' title="bbox 324 5112 3200 6000">
    <p class='ocr_par' dir='ltr' id='par_13' title="bbox 324 5112 3200 6000">
     <span class='ocr_line' id='line_13' title="bbox 324 5112 3200 5526"><span class='ocrx_word' id='word_49' title="bbox 324 5112 1653 5526">Adobe,</span> <span class='ocrx_word' id='word_50' title="bbox 1808 5112 2401 5464">the</span> <span class='ocrx_word' id='word_51' title="bbox 2554 5112 3200 5464">Ade</span> 
     </span>
     <span class='ocr_line' id='line_14' title="bbox 334 5639 3200 6000"><span class='ocrx_word' id='word_52' title="bbox 334 5639 2221 6000">Intelligent</span> <span class='ocrx_word' id='word_53' title="bbox 2404 5667 3200 5991">Doc‘</span> 
     </span>
    </p>
   </div>
  </div>
 </body>
</html>
